body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('fundo\ bory.png');
    background-size: cover;
    background-position: center top;
    background-repeat: repeat-y;
}

header {
    background: rgb(0,205,17);
    background: linear-gradient(270deg, rgba(0,205,17,1) 41%, rgba(255,255,255,1) 66%);
    color: #000000;
    text-align: center;
    margin: 10px auto;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 37px 17px #000000a1; 
    box-shadow: 5px 5px 37px 17px #000000a1;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h1 {
    color: #000000;
}

p {
    color: #000000;
}

.services {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.service {
    flex: 1;
    padding: 20px;
    margin: 0 10px;
    background: rgb(0,205,17);
    color: #000000;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.service:hover {
    background-color: #2980b9;
}

footer {
    background: rgb(0,205,17);
    background: linear-gradient(270deg, rgba(0,205,17,1) 41%, rgba(255,255,255,1) 66%);
    color: #000000;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}